nav {
  display: flex;
  background-color: #343434;
}

li {
  display: inline;
}

/* The dropdown container */
.dropdown {
  float: left;
  /* overflow: hidden; */
}

/* Add a red background color to navbar links on hover */
.dropbtn:hover {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
