* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

body {
  min-width: 700px;
}

/* botões juntos ao topo */
nav {
  display: flex;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
}

/* botões lado a lado */
nav li {
  display: inline;
}

/* estilo do botão */
.nav-button {
  background-color: #3d7aec;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
}

button {
  background-color: #3d7aec;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  color: white;
}

footer {
  background-color: #e7e7e7;
  margin-top: 30px;
}

/* estilo do botão */
.nav-button:hover {
  background-color: #0f5ef1;
}

/* estilo do link do botão */
.nav-a {
  color: white;
  text-shadow: 0.5px 0.5px 0.5px rgb(100, 100, 100);
  font-size: 15px;
}

/* botões lado a lado */
.dropdown {
  float: left;
}

/* estilo da nav */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 150px;
}

/* estilo do link da nav */
.dropdown-content a {
  
  color: black;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

/*estilo do link da nav */
.dropdown-content a:hover {
  color: grey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.divider {
  background-color: #3d7aec;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0.5px 0.5px 0.5px rgb(100, 100, 100);
  border-radius: 5px;
}

.logo {
  align-self: center;
  margin-left: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 1px 1px 4px rgb(194, 194, 194);
  transition: 0.3s;
  border-radius: 5px;
  margin: 5px;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

.card-margin {
  margin-left: 130px;
  margin-right: 130px
}

.course-margin {
  margin-top: 100px;
}

.image-border {
  border-radius: 20px;
}

.responsive-frame{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.responsive-frame iframe{
  left:0;
  top:0;
  height:70%;
  width:100%;
  position:absolute;
}